smart-home-wokwi/dashboard/node-red-dashboard.json
[
    {
        "id": "c2be8845d1a5bf28",
        "type": "tab",
        "label": "Smart Home Dashboard",
        "disabled": false,
        "info": "Enhanced Smart Home System Dashboard",
        "env": []
    },
    {
        "id": "2da6f3c5c659eb03",
        "type": "mqtt in",
        "z": "c2be8845d1a5bf28",
        "name": "Temperature",
        "topic": "smarthome_allam_imad_2025/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3319721ee0fb62b9",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "54494ba6a7a36333",
                "102cf7c899290f47"
            ]
        ]
    },
    {
        "id": "ad70a494e3799807",
        "type": "mqtt in",
        "z": "c2be8845d1a5bf28",
        "name": "Humidity",
        "topic": "smarthome_allam_imad_2025/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3319721ee0fb62b9",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "fdcb6d693bc121cc",
                "d303d2253520eb36"
            ]
        ]
    },
    {
        "id": "69c6be2f64e4a984",
        "type": "mqtt in",
        "z": "c2be8845d1a5bf28",
        "name": "Light Level",
        "topic": "smarthome_allam_imad_2025/lightlevel",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3319721ee0fb62b9",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 440,
        "wires": [
            [
                "b432dc0067ee73e2",
                "3ce4331a26c8412b"
            ]
        ]
    },
    {
        "id": "d472686924984654",
        "type": "mqtt in",
        "z": "c2be8845d1a5bf28",
        "name": "Security Status",
        "topic": "smarthome_allam_imad_2025/security/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "3319721ee0fb62b9",
        "nl": false,
        "rap": false,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 520,
        "wires": [
            [
                "cdfdb707f39e9c10",
                "fb29c0a128376012",
                "b3e8e891e95db774"
            ]
        ]
    },
    {
        "id": "f4ea24375d5a8c96",
        "type": "mqtt out",
        "z": "c2be8845d1a5bf28",
        "name": "Commands",
        "topic": "smarthome_allam_imad_2025/commands",
        "qos": "0",
        "retain": "false",
        "broker": "3319721ee0fb62b9",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "54494ba6a7a36333",
        "type": "function",
        "z": "c2be8845d1a5bf28",
        "name": "Convert Temp to Number",
        "func": "msg.payload = parseFloat(msg.payload);\nif (isNaN(msg.payload)) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 200,
        "wires": [
            [
                "0a922f5209738fb1"
            ]
        ]
    },
    {
        "id": "fdcb6d693bc121cc",
        "type": "function",
        "z": "c2be8845d1a5bf28",
        "name": "Convert Humidity to Number",
        "func": "msg.payload = parseFloat(msg.payload);\nif (isNaN(msg.payload)) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "b1b6df26a722c97d"
            ]
        ]
    },
    {
        "id": "0a922f5209738fb1",
        "type": "ui_gauge",
        "z": "c2be8845d1a5bf28",
        "name": "Main Temp Gauge",
        "group": "101e6a7c43b149b5",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "30",
        "className": "",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "b1b6df26a722c97d",
        "type": "ui_gauge",
        "z": "c2be8845d1a5bf28",
        "name": "Main Humidity Gauge",
        "group": "101e6a7c43b149b5",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#53a3f2",
            "#4682b4",
            "#1c3c72"
        ],
        "seg1": "60",
        "seg2": "80",
        "className": "",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "b432dc0067ee73e2",
        "type": "ui_text",
        "z": "c2be8845d1a5bf28",
        "group": "101e6a7c43b149b5",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Light Level Display",
        "label": "Ambient Light",
        "format": "<div style='text-align:center;'><i class='fa fa-sun-o' style='font-size:18px;'></i> {{msg.payload}}</div>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "font-weight: bold;",
        "fontSize": "18",
        "color": "#333333",
        "x": 960,
        "y": 440,
        "wires": []
    },
    {
        "id": "cdfdb707f39e9c10",
        "type": "ui_text",
        "z": "c2be8845d1a5bf28",
        "group": "101e6a7c43b149b5",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Security Status Display",
        "label": "Security Status",
        "format": "<div style='text-align:center; padding:8px; background-color:{{#if (eq msg.payload \"armed\")}}#ff6b6b{{else if (eq msg.payload \"disarmed\")}}#4caf50{{else if (eq msg.payload \"alarm\")}}#ff9e64{{/if}}; color:white; border-radius:4px;'><b>{{msg.payload}}</b></div>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "font-weight: bold;",
        "fontSize": "18",
        "color": "#000000",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "20e64e1f2fcf41bf",
        "type": "ui_button",
        "z": "c2be8845d1a5bf28",
        "name": "Light ON Button",
        "group": "63ee443e5dbd884a",
        "order": 1,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "<i class='fa fa-lightbulb-o'></i> Lights ON",
        "tooltip": "Turn all smart lights on",
        "color": "white",
        "bgcolor": "#FFC107",
        "className": "light-button-on",
        "icon": "",
        "payload": "lighton",
        "payloadType": "str",
        "topic": "smarthome_allam_imad_2025/commands",
        "topicType": "msg",
        "x": 420,
        "y": 800,
        "wires": [
            [
                "f4ea24375d5a8c96"
            ]
        ]
    },
    {
        "id": "42f01d61d8a37357",
        "type": "ui_button",
        "z": "c2be8845d1a5bf28",
        "name": "Arm System Button",
        "group": "63ee443e5dbd884a",
        "order": 2,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "<i class='fa fa-shield'></i> ARM System",
        "tooltip": "Arm the security system",
        "color": "white",
        "bgcolor": "#F44336",
        "className": "security-button-arm",
        "icon": "",
        "payload": "arm",
        "payloadType": "str",
        "topic": "smarthome_allam_imad_2025/commands",
        "topicType": "msg",
        "x": 430,
        "y": 720,
        "wires": [
            [
                "f4ea24375d5a8c96"
            ]
        ]
    },
    {
        "id": "358961199d4dc178",
        "type": "ui_button",
        "z": "c2be8845d1a5bf28",
        "name": "Disarm System Button",
        "group": "63ee443e5dbd884a",
        "order": 3,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "<i class='fa fa-unlock'></i> DISARM System",
        "tooltip": "Disarm the security system",
        "color": "white",
        "bgcolor": "#4CAF50",
        "className": "security-button-disarm",
        "icon": "",
        "payload": "disarm",
        "payloadType": "str",
        "topic": "smarthome_allam_imad_2025/commands",
        "topicType": "msg",
        "x": 440,
        "y": 680,
        "wires": [
            [
                "f4ea24375d5a8c96"
            ]
        ]
    },
    {
        "id": "ddc7c0abb48395f3",
        "type": "ui_button",
        "z": "c2be8845d1a5bf28",
        "name": "Light OFF Button",
        "group": "63ee443e5dbd884a",
        "order": 4,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "<i class='fa fa-lightbulb-o'></i> Lights OFF",
        "tooltip": "Turn all smart lights off",
        "color": "white",
        "bgcolor": "#9E9E9E",
        "className": "light-button-off",
        "icon": "",
        "payload": "lightoff",
        "payloadType": "str",
        "topic": "smarthome_allam_imad_2025/commands",
        "topicType": "msg",
        "x": 430,
        "y": 760,
        "wires": [
            [
                "f4ea24375d5a8c96"
            ]
        ]
    },
    {
        "id": "102cf7c899290f47",
        "type": "ui_chart",
        "z": "c2be8845d1a5bf28",
        "name": "Temperature History",
        "group": "b0e4604e3863c3b0",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Temperature Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "d303d2253520eb36",
        "type": "ui_chart",
        "z": "c2be8845d1a5bf28",
        "name": "Humidity History",
        "group": "8e47795762193fa3",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Humidity Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3ce4331a26c8412b",
        "type": "ui_chart",
        "z": "c2be8845d1a5bf28",
        "name": "Light History",
        "group": "0596d2a17d75f33d",
        "order": 2,
        "width": "6",
        "height": "5",
        "label": "Light Level Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "fb29c0a128376012",
        "type": "ui_switch",
        "z": "c2be8845d1a5bf28",
        "name": "Security Toggle Switch",
        "label": "Security System",
        "tooltip": "Toggle to arm/disarm security system",
        "group": "23f98ef7de83ad98",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": false,
        "decouple": "true",
        "topic": "smarthome_allam_imad_2025/commands",
        "topicType": "str",
        "style": "",
        "onvalue": "arm",
        "onvalueType": "str",
        "onicon": "ARMED",
        "oncolor": "#F44336",
        "offvalue": "disarm",
        "offvalueType": "str",
        "officon": "DISARMED",
        "offcolor": "#4CAF50",
        "animate": true,
        "className": "",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "f4ea24375d5a8c96"
            ]
        ]
    },
    {
        "id": "b3e8e891e95db774",
        "type": "ui_text",
        "z": "c2be8845d1a5bf28",
        "group": "23f98ef7de83ad98",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Security Mode Status",
        "label": "System Mode:",
        "format": "<div style='padding:8px; background-color:#f5f5f5; border-radius:4px; margin-top:8px;'><b>{{msg.payload}}</b></div>",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "font-weight: bold; font-size: 16px;",
        "fontSize": "",
        "color": "#333333",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "3319721ee0fb62b9",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "101e6a7c43b149b5",
        "type": "ui_group",
        "name": "Default",
        "tab": "7a595a075791ce76",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "63ee443e5dbd884a",
        "type": "ui_group",
        "name": "Quick Controls",
        "tab": "7a595a075791ce76",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b0e4604e3863c3b0",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "66a633eb67c148f7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8e47795762193fa3",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "66a633eb67c148f7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "0596d2a17d75f33d",
        "type": "ui_group",
        "name": "Ambient Light",
        "tab": "66a633eb67c148f7",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "23f98ef7de83ad98",
        "type": "ui_group",
        "name": "Security System",
        "tab": "92996776f792f30e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7a595a075791ce76",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66a633eb67c148f7",
        "type": "ui_tab",
        "name": "Climate",
        "icon": "thermostat",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "92996776f792f30e",
        "type": "ui_tab",
        "name": "Security",
        "icon": "security",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ccf11cd2c125a92",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]